    {{#content "title"}}Super Admins/Admins{{/content}}
    {{#content "style" mode="append"}}
        <link rel="stylesheet" type="text/css" href="https://d32zu6sws4tz5c.cloudfront.net/css/datatables.css">{{/content}}

    <div class="page-body">
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-6">
                        <h3>Super Admin/Admin list
                            
                        </h3>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
               
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <button type="button" class="btn btn-primary" id="addAdmin">Add</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="basic-1" class="display">
                                    <thead>
                                    <tr>
                                        
                                        <th>Email</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Type</th>
                                        <th>Created</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                        {{#each data}}
                                            <tr>
                                                <td>{{this.email}}</td>
                                                <td>{{this.firstName}}</td>
                                                <td>{{this.lastName}}</td>
                                                <td>{{this.adminType}}</td>
                                                <td>{{dateFormat this.createdAt "DD-MM-YYYY HH:mm:ss"}}</td>
                                                <td>
                                                    <a 
                                                        href="javascript:void(0);" 
                                                        data-admin-id="{{this._id}}"
                                                        data-admin-email="{{this.email}}"
                                                        data-first-name="{{this.firstName}}"
                                                        data-last-name="{{this.lastName}}"
                                                        data-type="{{this.type}}" 
                                                        class="btn btn-primary btn-sm aEdit"
                                                    > 
                                                        <span class="icon-pencil-alt"></span>
                                                    </a>
                                                    <!-- <a href="javascript:void(0)" data-admin-id="{{this._id}}" class="btn btn-danger btn-sm aDelete"> <span class="icon-close"></span></a> -->
                                                    <!-- <a href="javascript:void(0)" data-admin-id="{{this._id}}" class="btn btn-danger btn-sm aDelete"> Block</a> -->
                                                </td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addAdminMOdal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">New admin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="divAlert">
                    
                </div>
                <div class="modal-body">
                    <form id="frmAddAdmin"> 
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <input type="hidden" id="_id" name="_id" value="">
                        <div class="form-group">
                            <label for="email" class="col-form-label" >Email:</label>
                            <input type="email" class="form-control" name="email" id="email">
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-form-label" >Password:</label>
                            <input type="password" class="form-control" name="password" id="password">
                        </div>
                        
                        <div class="form-group">
                            <label for="firstName" class="col-form-label" >First Name:</label>
                            <input type="text" class="form-control" name="firstName" id="firstName">
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="col-form-label" >Last Name:</label>
                            <input type="text" class="form-control" name="lastName" id="lastName">
                        </div>
                        <div class="form-group">
                            <label for="adminType" class="col-form-label" >Type:</label>
                            <select name="adminType" id="adminType" class="form-control">
                                <option value="">Select</option>
                                <option value="SUPER_ADMIN">Super Admin</option>
                                <option value="ADMIN">Admin</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnAddAdmin" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    {{#content "script" mode="append"}}
        <script src="https://d32zu6sws4tz5c.cloudfront.net/js/datatables/jquery.dataTables.min.js"></script>
        <script src="https://d32zu6sws4tz5c.cloudfront.net/js/datatables/datatable.custom.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/additional-methods.min.js"></script>
        <script>
            $(document).ready(function() {
                $("#addAdmin").click(function(e) {
                    $("#exampleModalLabel2").html("New admin");
                    $("#addAdminMOdal").modal({
                        show: true,
                        backdrop: 'static',
                        keyboard: false
                    }); 
                    
                });

                $(".close").click(function(e) {
                    $("#_id").val('');
                    $('#frmAddAdmin')[0].reset();
                });

                $("#btnAddAdmin").click(function(e) {
                    $("#frmAddAdmin").submit();
                });

                $("#frmAddAdmin").validate({
                    rules: {
                        email: {
                            required: true,
                            email: true
                        },
                        password: {
                            required: true,
                            minlength: 6,
                            maxlength: 32
                        },
                        firstName: {
                            required: true
                        },
                        lastName: {
                            required: true
                        },
                        adminType: {
                            required: true
                        }
                    },
                    messages: {
                        email: {
                            required: "Please enter email",
                            email: "Please enter valid email"
                        },
                        password: {
                            required: "Please enter password",
                            minlength: "Password must be 6 character long",
                            maxlength: "Password can't be more than 32 character long"
                        },
                        firstName: {
                            required: "Please enter first name"
                        },
                        lastName: {
                            required: "Please enter last name"
                        },
                        adminType: {
                            required: "Please select admin type"
                        }
                    },
                    submitHandler: function (form) {
                        const formData = $("#frmAddAdmin").serialize();
                        $.ajax({
                            type: "POST",
                            url: "/admins",
                            data: formData,
                            beforeSend: function (xhr) {
                                $("#btnAddAdmin").prop('disabled', true);
                                $("#btnAddAdmin").html("Loading...");
                            },
                            success: function (response) {
                                $("#divAlert").addClass('alert alert-success');
                                $("#divAlert").append('<strong>'+response.message+'</strong>');
                                $("#divAlert").fadeTo(1000, 1000).slideUp(1000, function(){
                                    $("#divAlert").slideUp(1000);
                                    $("#btnAddAdmin").prop('disabled', false);
                                    $("#btnAddAdmin").html("Save");
                                    window.location.href = "/admins";
                                });
                                
                            },
                            error: function (xhr) {
                                $("#divAlert").addClass('alert alert-danger');
                                $("#divAlert").append('<ul></ul>');
                                Object.keys(xhr.responseJSON.data[0]).map(function(key) {
                                    $("#divAlert ul").append('<li>'+xhr.responseJSON.data[0][key]+'</li>')
                                });
                                $("#divAlert").fadeTo(2000, 2000).slideUp(2000, function(){
                                    $("#divAlert").slideUp(2000);
                                    $("#divAlert").empty();
                                    $("#divAlert").removeClass('alert alert-danger');
                                    $("#btnAddAdmin").prop('disabled', false);
                                    $("#btnAddAdmin").html("Save");
                                });
                                
                            }
                        });
                    }
                })
            });

            $(document).on('click', '.aEdit', function(e) {
                $("#_id").val($(this).data('admin-id'));
                $("#email").val($(this).data('admin-email'));
                $("#firstName").val($(this).data('first-name'));
                $("#lastName").val($(this).data('last-name'));
                $("#adminType").val($(this).data('type'));
                $("#exampleModalLabel2").html("Edit admin");
                $("#addAdminMOdal").modal({
                    show: true,
                    backdrop: 'static',
                    keyboard: false
                });
            });

            $(document).on('click', '.aDelete', function(e) {
                if(confirm("Are you sure you want to delete this admin?")) {
                    $.ajax({
                            type: "POST",
                            url: "/admins/delete",
                            data: {
                                _id: $(this).data('admin-id')
                            },
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader('X-CSRF-Token', "{{csrfToken}}");
                            },
                            success: function (response) {
                                window.location.href = "/admins";
                                
                            },
                            error: function (xhr) {
                                
                            }
                        });
                }
            })
        </script>
    {{/content}}