{{#content "title"}}{{title}}{{/content}}


<div class="page-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Change password
                        
                    </h3>
                </div>
                
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="card">
                    {{#if failMsg}}
                        <div class="alert alert-danger">
                            <strong>Error! </strong>{{failMsg}}
                        </div>
                    {{/if}}
                    {{#if successMsg}}
                        <div class="alert alert-success">
                            <strong>Success! </strong>{{successMsg}}
                        </div>
                    {{/if}}
                    <div class="card-body">
                        <form id="frmChangePassword" class="form-wizard" action="/change-password" method="POST" >
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <div class="form-group">
                                <label for="old_password">Old password</label>
                                <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Old password">
                            </div>
                            <div class="form-group">
                                <label for="new_password">New password</label>
                                <input type="password" class="form-control" id="new_password" placeholder="New password" name="new_password">
                            </div>
                            <div class="form-group">
                                <label for="confirm_password">Confirm password</label>
                                <input type="password" class="form-control" id="confirm_password" placeholder="Confirm password" name="confirm_password">
                            </div>
                            
                            
                            <div>
                                <div class="text-right btn-mb">
                                    <button type="submit" class="btn btn-secondary" id="btnSubmit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="passwordChangedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Password changed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your password have been changed. Please click Ok to login again
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="window.location.href='/logout'">Ok</button>
            </div>
        </div>
    </div>
</div>

{{#content "script" mode="append"}}
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/additional-methods.min.js"></script>
    <script>
        $(document).ready(function(e) {
            const isPasswordChanged = "{{isPasswordChanged}}";
            
            $(".alert").fadeTo(2000, 500).slideUp(500, function(){
                $(".alert").slideUp(500);
                if (parseInt(isPasswordChanged) === 2) {
                    $("#passwordChangedModal").modal({
                        show: true,
                        backdrop: 'static',
                        keyboard: false
                    });
                }
            });
            $("#frmChangePassword").validate({
                rules: {
                    old_password: {
                        required: true
                    },
                    new_password: {
                        required: true,
                        minlength: 6,
                        maxlength: 32
                    },
                    confirm_password: {
                        equalTo: "#new_password"
                    }
                },
                messages: {
                    old_password: {
                        required: "Enter old password"
                    },
                    new_password: {
                        required: "Enter new password",
                        minlength: "Minimum length should be 6 characters",
                        maxlength: "Maximum length should be 32 characters"
                    },
                    confirm_password: {
                        equalTo: "New password and confirm password must be same"
                    }
                }
            })
        })
    </script>
{{/content}}